%button {
  // padding: 10px;
  max-width: 100%;
  text-align: center;
  // border: none;
  outline: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  transition: .3s;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    background: #c7c7c7;

    &:hover {
      background: #c7c7c7;
      cursor: default;
    }
  }
}

.button {
  @extend %button;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 18px;
  height: 51px;
  line-height: 51px;
  transition: .3s;
  cursor: pointer;
}

.button-action {
  @extend .button;

  color: $bg-main;
  background: $primary-color;
}

.button-secondary {
  @extend .button;

  color: $primary-color;
  border: 1px solid $primary-color;
}

.button-loading {
  font-size: 0;

  &__content {
    margin-top: -10px;
  }

  &__line {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border-radius: 15px;
    background-color: $font-color-dark;

    &:nth-child(1) {
      animation: loadingProcess .6s .1s linear infinite;
    }

    &:nth-child(2) {
      animation: loadingProcess .6s .2s linear infinite;
    }

    &:nth-child(3) {
      animation: loadingProcess .6s .3s linear infinite;
    }
  }
}

@include desktop() {
  .button {
    &-action {
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    &-secondary {
      &:hover {
        background: $primary-color;
        color: $bg-main;
      }
    }
  }
}

@keyframes loadingProcess {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, 0);
  }
}