.decoration {
  &--title-line {
    position: relative;

    &:before {
      @include pseudo;

      top: 0;
      height: 100%;
      width: 1px;
      background: $primary-color;
    }
  }

  &--border {
    // position: relative;

    &:before {
      @include pseudo;

      height: 100%;
      width: 100%;
      border: 1px solid $primary-color;
      z-index: -1;
    }
  }
}