.about {
  padding: 20px 0 40px;

  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }

  &__title {
    @extend .decoration--title-line;

    margin-bottom: 1.5rem;
    font-size: 20px;
    font-family: $font-secondary;

    &:before {
      left: -15px;
    }
  }

  &__text {
    margin-bottom: 22px;
    padding-bottom: 1rem;
    font-size: 14px;
    color: $font-color-light;
    line-height: 1.6;
    border-bottom: 1px solid $border-color;
  }

  &__info {
    @extend .decoration--border;

    position: relative;
    margin-top: auto;
    margin-bottom: 2.5rem;
    top: 15px;
    padding: 15px;
    background: $bg-secondary;

    &:before {
      top: -15px;
      left: -15px;
    }

    &-text {
      margin-bottom: 1rem;
      color: $primary-color;
      line-height: 1.6;
      text-align: center;
    }
  }

  &__phone {
    @include flex-row;

    justify-content: center;
    transition: .3s;

    .icon-phone {
      width: 20px;
      height: 20px;
      margin-right: 1rem;
      fill: $primary-color;
    }

    &-text {
      font-weight: bold;
      font-size: 1.5rem;
      color: $primary-color;
      letter-spacing: 0.03em;
      transition: .3s;
    }

    &:hover {
      .about__phone {
        &-text {
          color: darken($primary-color, 10%);
        }
      }

      .icon-phone {
        fill: darken($primary-color, 10%);
      }
    }
  }

  &__pic {
    @extend .decoration--border;

    position: relative;
    left: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &:before {
      top: 24px;
      left: -24px;
    }
  }

  &__desc {
    &-title {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    &-list,
    &-subtext {
      color: $font-color-light;
      margin-top: 0;

      li {
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-list {
      margin-bottom: 2rem;

      li {
        position: relative;
        padding-left: 30px;

        &:before {
          @include pseudo;

          top: 5px;
          left: 0;
          width: 20px;
          height: 10px;
          background: url(../img/svg/arrow-list.svg) 0 0 no-repeat;
        }
      }
    }

    &-subtext {
      font-size: 12px;
      margin-bottom: 2rem;
    }
  }
}

@include tablets {
  .about {
    position: relative;
    display: flex;

    &__content {
      width: 50%;
      padding-top: 30px;
    }

    &__pic {
      position: absolute;
      top: 0;
      left: 60%;
      width: 400px;
      height: 400px;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 28px;
    }

    &__text {
      margin-bottom: 1rem;
      font-size: 1rem;
    }

    &__info {
      &-text {
        font-size: 1.2rem;
      }
    }
  }
}

@include desktop {
  .about {
    min-height: 600px;
    margin-bottom: 100px;

    &__text {
      font-size: 20px;
    }

    &__desc {
      &-list {
        li {
          font-size: 20px;
        }
      }

      &-subtext {
        li {
          font-size: 16px;
        }
      }
    }

    &__pic {
      width: 600px;
      height: 600px;

      &:before {
        top: 0;
        left: 0;
        transition: 2s;
      }

      &.animated {
        &:before {
          top: 42px;
          left: -42px;
        }
      }
    }

    &__info {
      margin-bottom: 0;

      &:before {
        top: 0;
        left: 0;
        transition: 2s;
      }

      &.animated {
        &:before {
          top: 19px;
          left: -19px;
        }
      }
    }
  }
}