.filters {
  @extend .decoration--border;

  position: relative;
  background: $bg-secondary;
  margin-left: 17px;

  &:before {
    top: 17px;
    left: -17px;
  }

  &__accordion {
    position: relative;
    padding: 20px 27px;
    color: #fff;
    width: 100%;
    text-align: left;

    &:after {
      @include pseudo;

      position: absolute;
      top: 50%;
      right: 25px;
      width: 13px;
      height: 6px;
      background: url(../img/icons/accordion-arrow.svg) 0 0 no-repeat;
    }
  }
}

@include _desktop {
  .filters {
    &__list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: flex;
      background: $bg-secondary;
      flex-direction: column;
      padding-bottom: 10px;
      z-index: 20;
    }
  }
}

@include desktop {
  .filters {
    padding: 45px 0;
    background: none;
    margin: 0;

    &:before {
      border: none;
    }

    &__list {
      @include flex-row;
    }

    &__accordion {
      display: none;
    }
  }
}