.promo {
  position: relative;
  z-index: -1;

  &:after {
    @include pseudo;

    top: 100%;
    left: 0;
    width: 90vw;
    height: 800px;
    background: url(../img/svg/bg-decor-1.svg) 0 0 no-repeat;
    background-size: contain;
  }

  &__pic {
    display: block;
    width: 100%;
    height: 288px;
    // min-height: 288px;
    // max-height: 50vw;
    overflow: hidden;

    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__logo {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@include ls-tablets {
  .promo {
    &__logo {
      display: none;
    }
  }
}

@include desktop {
  .promo {
    &:after {
      width: 50vw;
    }

    &__pic {
      height: 648px;
      min-height: initial;
      max-height: initial;
    }
  }
}