.products {
  &__list {
    margin-bottom: 20px;
  }

  &__more {
    margin-bottom: 50px;
    text-align: center;
  }

  &__show {
    @extend .button-secondary;

    width: 100%;
    max-width: 313px;
  }
}

@include desktop {
  .products {
    .product {
      &:nth-child(odd) {
        .product {
          &__pic {
            order: 2;
          }
        }
      }
    }

    &__list {
      margin-bottom: 50px;
    }
  }
}