.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px 0;
  background: #202537;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;

  &__container {
    @include flex-row;

    justify-content: space-between;
  }

  &--fixed {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
  }
}

@include tablets {
  .header {
    padding: 6px 0;
  }
}

@include desktop {
  .header {
    padding: 8px 0;
  }
}