.home {
  &__content {
    position: relative;
    top: -30px;
    z-index: 5;

    &:before,
    &:after {
      @include pseudo;

      display: none;
      background-size: contain;
      z-index: -1;
      background-position: 0 0;
      background-repeat: no-repeat;
    }

    &:before {
      background-image: url(../img/svg/bg-decor-3.svg);
      top: 200vh;
      left: 0;
      width: 140px;
      height: 800px;
    }

    &:after {
      display: none;
      background-image: url(../img/svg/bg-decor-2.svg);
      top: 500px;
      right: 0;
      width: 300px;
      height: 600px;
    }
  }

  &__advantages {
    margin-bottom: 60px;
  }

  &__products {
    margin-bottom: 60px;
  }
}

@include tablets {
  .home {
    &__content {
      top: -40px;

      &:before,
      &:after {
        display: block;
      }
    }

    &__advantages {
      margin-bottom: 120px;
    }
  }
}

@include desktop {
  .home {
    &__content {
      top: 0;
    }

    // &__content {
    //   padding: 100px 0 60px;
    // }

    &__advantages {
      margin-bottom: 50px;
    }
  }
}