extends template/main

block variables
	- var title = 'Карат'
	- var pageClass = 'index-page'

block content
	include ./parts/promo

	.home__content
		.container
			.home__filters
				#filters

			.home__products
				#products

			.home__about
				include ./parts/about
