.about
  .about__content
    .about__caption
      h1.about__title Эксклюзивный сервис – Примерка.
      .about__text Вам понравилось украшение, но сомневаетесь подойдет ли оно?

    .about__desc
      h3.about__desc-title Воспользуйтесь сервисом Примерка*:
      ul.about__desc-list
        li доставка выбранных украшений за 24 часа**
        li выезд профессионального консультанта
        li бесплатная примерка ювелирных изделий ***
        li оплата наличными или банковской картой
      ul.about__desc-subtext
        li * - сервис доступен на территории г.Белгород
        li ** - услуга БЕСПЛАТНАЯ, оказывается в рабочие дни с 11:00 до 18.00
        li *** - возможно заказать не более 3-х изделий каждого вида

    .about__info.wow
      .about__info-text Для оформления заказа, свяжитесь с оператором по телефону
      a.about__phone(
        href="tel:8-800-234-40-31"
      )
        +icon('phone')
        span.about__phone-text 8-800-234-40-31
  .about__pic.wow
    img.lazy(
      data-src="./img/about.jpg"
      alt="Ювелирные изделия на заказ"
    )