section.promo
  picture.promo__pic
    source(
      media="(min-width: 768px)"
      srcset="./img/promo/promo-big.jpg"
    )
    source(
      media="(max-width: 768px)"
      srcset="./img/promo/promo-mini.jpg"
    )
    img(
      src="./img/promo/promo-big.jpg"
    )
  .promo__logo
    img(
      src="./img/doruna.png"
    )