.filter {
  padding: 20px 24px;
  color: $font-color-light;
  text-align: left;
}

@include desktop {
  .filter {
    padding: 12px 24px;
    margin-right: 40px;
    border: 1px solid transparent;

    &:hover {
      color: #fff;
    }

    &--active {
      border-color: $primary-color;
      color: #fff;

      &:hover {
        cursor: pointer;
      }
    }
  }
}