.pagination {
  display: flex;
  justify-content: center;

  &__item {
    @include flex-center;

    height: 40px;
    color: $primary-color;
    border: 1px solid transparent;

    .icon-arrow-1 {
      width: 32px;
      height: 20px;
      fill: $primary-color;
    }

    &--number {
      font-size: 14px;
      width: 40px;
    }

    &--active {
      background: $primary-color;
      color: $font-color-dark;
    }

    &--arrow {
      position: relative;
      margin: 0 10px;
      transition: .3s;

      svg {
        position: relative;
        transition: .3s;
        left: 0;
      }

      &:first-child {
        transform: rotate(180deg);
      }
    }
  }
}

@include desktop {
  .pagination {
    &__item {
      &--number {
        &:hover {
          border: 1px solid $primary-color;
        }
      }

      &--arrow {
        &:hover {
          svg {
            left: 10px;
            transition: .3s;
          }
        }
      }
    }
  }
}