.phone {
  @include flex-row;

  color: #fff;

  &__pic {
    width: 23px;
    height: 23px;
  }

  &__number {
    display: none;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.03em;
  }

  .icon-phone {
    fill: #fff;
  }
}

@include tablets {
  .phone {
    &__pic {
      width: 30px;
      height: 30px;
      margin-right: 30px;
    }

    &__number {
      display: block;
    }
  }
}