.product {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  border-bottom: 1px solid $border-color;

  &__caption {
    margin-bottom: 1.5rem;
  }

  &__decoration {
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    padding-left: 15px;
  }

  &__title {
    @extend .decoration--title-line;

    font-size: 20px;
    line-height: 1.4;
    color: #fff;
    font-family: $font-secondary;
    font-weight: bold;
    flex: 1;
    letter-spacing: 0.03em;
    width: 100%; // ie

    &:before {
      left: -15px;
    }
  }

  &--special {
    .product {
      &__caption {
        @include flex-row;

        margin-bottom: 40px;

        &-pic {
          @include flex-center;

          margin-right: 25px;
          height: 120px;
          width: 110px;
        }
      }

      &__title {
        font-weight: normal;
        padding-left: 15px;

        &:before {
          left: 0;
        }
      }

      &__info {
        width: 100%;
      }

      &__decoration {
        @extend .decoration--border;

        position: relative;
        order: -1;
        top: 28px;
        left: 28px;
        width: 500px;
        height: 400px;
        margin-bottom: 60px;

        &:before {
          top: -28px;
          left: -28px;
        }
      }
    }
  }

  &__pic {
    @include flex-center;

    height: 50vw;
    margin-bottom: 55px;

    .glightbox {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 25px;
    font-size: 14px;
    color: $font-color-light;
    line-height: 1.6;
    letter-spacing: 0.03em;
    width: 100%; // ie
  }

  &__price {
    @include flex-row;

    justify-content: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: $primary-color;

    &-new {
      font-weight: bold;
      margin-right: 15%;
    }

    &-old {
      opacity: .5;
      text-decoration: line-through;
    }
  }

  &__action {
    text-align: center;
  }

  &__buy {
    @extend .button-action;

    min-width: 253px;

    &-default {
      @include flex-row;
    }

    &-text {
      margin-right: 11px;
    }

    &-arrow {
      @include flex-center;

      position: relative;
      width: 27px;
      height: 27px;
      left: 0;
      transition: .3s;
    }

    &:hover {
      .product {
        &__buy {
          &-arrow {
            left: 10px;
            transition: .3s;
          }
        }
      }
    }
  }
}

@include ls-tablets {
  .product {
    &--special {
      .product {
        &__decoration {
          width: 660px;
          left: 30%;
          right: 0;
        }
      }
    }
  }
}

@include tablets {
  .product {
    &__pic {
      height: 400px;
    }

    &--special {
      min-height: 700px;
      flex-direction: column; // ie

      .product {
        &__decoration {
          position: absolute;
          height: 500px;
          width: 700px;
          top: 100px;
          left: 60%;
          margin-bottom: 0;
        }

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;
          flex: initial;
        }

        &__caption {
          &-pic {
            height: 150px;
            width: 150px;
            margin-right: 40px;
          }
        }

        &__title {
          padding-left: 30px;
        }

        &__info {
          flex-direction: column;
        }

        &__price {
          width: 100%;
          margin-bottom: 30px;
        }

        &__action {
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}

@include desktop {
  .product {
    flex-direction: row;
    padding: 80px 0;

    &__info {
      @include flex-row;

      justify-content: space-between;
    }

    &__caption {
      margin-bottom: 2rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      padding-left: 47px;
    }

    &__pic {
      // height: 100%;
      max-height: 444px;
      width: 45%;
      margin-bottom: 0;
    }

    &__price {
      justify-content: start;
      width: 60%;
      margin-bottom: 0;
      font-size: 30px;

      &-new {
        margin-right: 10%;
      }
    }

    &__text {
      margin-bottom: 47px;
      font-size: 20px;
    }

    &__title {
      font-size: 30px;

      &:before {
        left: -47px;
      }
    }

    &__buy {
      min-width: 200px;
    }

    &--special {
      .product {
        &__info {
          flex-direction: row;
        }

        &__price {
          width: 60%;
          justify-content: start;
          flex: 1;
          margin-bottom: 0;
        }

        &__action {
          width: initial;
        }

        &__decoration {
          &:before {
            top: 0;
            left: 0;
            transition: 2s;
          }

          &.animated {
            &:before {
              top: -28px;
              left: -28px;
            }
          }
        }
      }
    }
  }
}

@include desktopHd {
  .product {
    &__price {
      &-new {
        margin-right: 15%;
      }
    }
  }
}