<template lang="pug">
  .advantages(
    v-cloak
  )
    .advantage(
      v-for="(item, i) in advList"
    )
      .advantage__pic
        Icon(
          :name="'check'"
        )
      .advantage__text {{ item.title }}
</template>

<script>
import Icon from './ui/Icon.vue';
const WOW = require('wowjs');

export default {
  components: {
    Icon,
  },
  mounted() {
    const adv = document.querySelector('.advantages');

    setTimeout(() => {
      adv.classList.add('animated');
    }, 2000);
  },
  computed: {
    advList() {
      return [
        {
          title: 'Цена производителя без посредников',
        },
        {
          title: 'Украшения собственного производства',
        },
        {
          title: 'Доставка прямо в руки',
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.advantages {
  @extend .decoration--border;

  position: relative;
  background: $bg-secondary;
  padding: 32px 27px;
  margin-left: 17px;

  &:before {
    top: 17px;
    left: -17px;
  }
}

.advantage {
  @include flex-row;

  color: #fff;
  margin-bottom: 34px;

  &:last-child {
    margin-bottom: 0;
  }

  &__pic {
    @include flex-center;

    width: 43px;
    height: 43px;
    margin-right: 28px;
    background: $primary-color;
    border-radius: 50%;

    .icon-check {
      width: 60%;
    }
  }

  &__text {
    flex: 1;
  }
}

@include desktop {
  .advantages {
    @include flex-row;

    justify-content: space-between;
    padding: 45px;
    margin-left: 24px;

    &:before {
      top: 0;
      left: 0;
      transition: 2s;
    }

    &.animated {
      &:before {
        top: 24px;
        left: -24px;
      }
    }
  }

  .advantage {
    margin-bottom: 0;
  }
}
</style>