<template lang="pug">
  .filters

    button.filters__accordion(
      @click="toggleList()"
    )

      .filters__accordion-text Фильтры

    .filters__list(
      v-if="isList"
    )

      button.filter(
        v-for="(item, index) in filtersList"
        :key="item.index"
        @click="selectFilter(item.name, $event)"
        :class="{ 'filter--active': item.active }"
        ref="filterBtn"
      ) {{ item.name }}
</template>

<script>
export default {
  data() {
    return {
      isList: false,
      filtersList: [
        {
          name: 'Все товары',
          active: true,
        },
        {
          name: 'Серьги',
        },
        {
          name: 'Кольца',
        },
        {
          name: 'Цепи',
        },
        {
          name: 'Колье',
        },
        {
          name: 'Брошь',
        },
        {
          name: 'Другое',
        }
      ]
    }
  },
  mounted() {
    this.windowWidth = window.innerWidth;

    if (this.windowWidth > 1200) {
      this.isList = true;
    }

    window.addEventListener('resize', () => {
      this.windowWidth = window.innerWidth;
      this.isMobile()
    });
  },
  methods: {
    selectFilter(name, event) {
      const thisButton = event.target;
      const buttons = this.$refs.filterBtn;

      buttons.forEach(item => {
        item.classList.remove('filter--active');
      })

      if (this.windowWidth < 1200) {
        this.isList = false;
      }

      thisButton.classList.add('filter--active');

      alert(`Выбор фильтра ${name}`);
    },
    toggleList() {
      this.isList = !this.isList;
    },
    isMobile() {
      if (this.windowWidth <= 1200) {
        this.isList = false;
      } else {
        this.isList = true;
      }
    },
  },
}
</script>