<template lang="pug">
    .pagination

        Pagination-Arrow(
        v-if="isPre"
        :method="`prePage`"
        )

        a.pagination__item.pagination__item--number(
        v-for="page in getPages" :key="page"
        :href="`javascript:void(0)`"
        @click="getPage(page)"
        :class="{ 'pagination__item--active': page == getCurrentPage }"
        ) {{ page }}

        Pagination-Arrow(
        v-if="isNext"
        :method="`nextPage`"
        )

</template>

<script>
    import Icon from './ui/Icon.vue';
    import PaginationArrow from './ui/PaginationArrow.vue';
    import {mapGetters} from 'vuex';

    export default {
        computed: {
            ...mapGetters([
                'getPages',
                'getCurrentPage',
                'isPre',
                'isNext'
            ])
        },
        components: {
            Icon,
            PaginationArrow,
        },
        methods: {
            getPage(page) {
                this.$store.dispatch('setPage', page)
            }
        }
    }
</script>