<template lang="pug">
    .products(
    v-cloak
    )

        .loading(
        v-if="isLoading"
        ) Загрузка

        .products__content(
        v-else
        )

            .products__list

                Product(
                v-for="item in getProducts"
                :key="item.id"
                :id="item.id"
                :title="item.title"
                :text="item.text"
                :image="item.image"
                :priceNew="item.priceNew"
                :priceOld="item.priceOld"
                :specialImage="item.specialImage"
                )

            .products__more
                button.products__show(
                v-if="isNext"
                @click="showMore"
                :disabled="buttonShow.process"
                )
                    .products__show-default(
                    v-if="buttonShow.default"
                    ) Показать еще
                    .products__show-process(
                    v-if="buttonShow.process"
                    )
                        .button-loading__content
                            .button-loading__line
                            .button-loading__line
                            .button-loading__line

            .products__pagination
                Pagination()

</template>

<script>
    import Product from './parts/Product.vue';
    import Icon from './ui/Icon.vue';
    import Pagination from './Pagination.vue';
    import {mapGetters} from 'vuex';


    export default {
        name: 'Products',
        data() {
            return {
                buttonShow: {
                    default: true,
                    process: false,
                }
            };
        },
        components: {
            Product,
            Icon,
            Pagination,
        },
        computed: {
            ...mapGetters([
                'getProducts',
                'isLoading',
                'isNext'
            ])
        },
        created() {
            this.$store.dispatch('loadProducts')
        },
        methods: {
            showMore() {
                this.buttonShow.default = false;
                this.buttonShow.process = true;

                this.$store.dispatch('nextPage')

                this.buttonShow.default = true;
                this.buttonShow.process = false;
            },
            scroll () {
                this.$refs.element.scrollTo();
            }
        },
    };
</script>
