@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Muller';
//   src: url("../fonts/MullerBold.otf");
//   font-weight: bold;
//   font-style: normal;
// }
