
$primary-color: #eedfc0;
$font-color: #fff;
$font-color-light: #737685;
$font-color-dark: #191c2b;

// background
$bg-main: #191c2b;
$bg-secondary: #313552;

// border
$border-color: #30344a;

$bp-desktop-hd: 1800px;
$bp-desktop: 1200px;
$bp-tablets: 992px;
$bp-ls-tablets: 768px;
$bp-phones: 540px;

// font
$font-primary: roboto, arial, sans-serif;
$font-secondary: 'Times New Roman', arial, sans-serif;
