<template lang="pug">
    .product(
    :id="`item_id_` + id"
    :class="{ 'product--special': specialImage }"
    )

        a.product__pic.glightbox(
        v-if="!specialImage"
        :href="image"
        )
            img(
            :src="image"
            :alt="title"
            )

        .product__content

            .product__caption

                .product__caption-pic(
                v-if="specialImage"
                )
                    img(
                    :src="image"
                    :alt="title"
                    )

                .product__title.wow.animate__fadeInUp(
                data-wow-duration="1s"
                ) {{ title }}

            .product__text.wow.animate__fadeInUp(
            data-wow-duration="1.5s"
            ) {{ text }}

            .product__info

                .product__price
                    .product__price-new {{ priceNew }} руб
                    .product__price-old {{ priceOld }} руб

                .product__action

                    button.product__buy(
                    @click="addToCart()"
                    :disabled="button.process"
                    )

                        .product__buy-default(
                        v-if="button.default"
                        )
                            .product__buy-text {{ getButtonName() }}
                            .product__buy-arrow
                                Icon(
                                :name="'arrow-1'"
                                )

                        .product__buy-process(
                        v-if="button.process"
                        )
                            .button-loading__content
                                .button-loading__line
                                .button-loading__line
                                .button-loading__line

        .product__decoration.wow(
        v-if="specialImage"
        )
            img.product__decoration-img(
            :src="specialImage"
            :alt="title"
            )
</template>

<script>
    import Icon from '../ui/Icon.vue';
    import GLightbox from 'glightbox';

    const WOW = require('wowjs');

    export default {
        props: [
            'id',
            'title',
            'text',
            'priceNew',
            'priceOld',
            'image',
            'specialImage',
        ],
        data() {
            return {
                button: {
                    default: true,
                    process: false,
                },
                inCart: {}
            }
        },
        components: {
            Icon,
        },
        mounted() {
            window.wow = new WOW.WOW({
                live: false,
                mobile: false,
            });

            window.wow.init();

            const lightbox = GLightbox({
                touchNavigation: false,
            });
        },
        methods: {
            getButtonName() {
                return (this.inCart[this.id]) ? 'В корзину' : 'Купить'
            },
            addToCart() {
                if (this.inCart[this.id]) {
                    document.location.href = '/personal/cart/';

                    return
                }

                this.button.default = false;
                this.button.process = true;

                let then = this

                try {
                    fetch('/ajax/add_to_basket.php?id=' + then.id).then((response) => {
                        response.json().then((json) => {
                            document.location.href = '/personal/cart/'

                            then.inCart[then.id] = true

                            then.button.default = true;
                            then.button.process = false
                        });
                    });
                } catch (error) {
                    console.log(error)
                }
            }
        }
    }
</script>