<template lang="pug">
  svg.svg-icon(
    :class="`icon-${name}`"
  )
    use(
      :xlink:href="'img/svg/sprite.svg' + `#${name}`"
    )
</template>

<script>
export default {
  props: ['name'],
};
</script>
