<template lang="pug">
    a.pagination__item.pagination__item--arrow(
    @click="toPage"
    :href="`javascript:void(0)`"
    )
        Icon(
        :name="'arrow-1'"
        )
</template>

<script>
    import Icon from './Icon.vue';

    export default {
        props: [
            'method'
        ],
        components: {
            Icon,
        },
        methods: {
            toPage() {
                this.$store.dispatch(this.method)
            }
        }
    }
</script>